# Virtual environments
venv/
.venv/
env/
.env/

# Python cache
__pycache__/
*.pyc

# Jupyter notebooks
.ipynb_checkpoints/

# Streamlit logs
.streamlit/

# Large model files (tracked via Git LFS)
*.pth
*.pt
*.h5

# OS files
.DS_Store
Thumbs.db